# Firebase
FIREBASE_SERVICE_ACCOUNT_JSON=data/serviceAccountKey.json
FIREBASE_WEB_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# AI
GEMINI_API_KEY=
GROQ_API_KEY=
GROQ_DATAHELPER_API_KEY=
OLLAMA_BASE_URL=http://127.0.0.1:11434
AI_ENABLED=True

# System
ENVIRONMENT=development
API_PORT=8000
SYSTEM_VERSION=1.0.0-beta
ALLOWED_EMAIL_DOMAIN=student.hcmus.edu.vn
MAX_UPLOAD_SIZE_MB=5